body {
    font-family: 'Lato', sans-serif;
    background-color: #4BC6FF;
    color: #042A2B;
}

h1 {
    font-size: 86px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 10px;
    width: 35%;
    background-color: #FFFAF7;
}

.center {
    text-align: center;
}

.thin {
    font-weight: 300;
}

.bold {
    font-weight: 900;
}

.small {
    font-size: 36px;
}

#login,
#email,
#password,
#session,
#session2,
#session-password {
    background: none;
    font-family: 'Lato';
    font-size: 16px;
    border: none;
    border-left: 5px solid #042A2B;
    padding-left: 5px;
    margin: 10px;
}

input:focus {
    outline: 0;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    background: #2C4251;
    border: 0;
    line-height: 2.5em;
    padding: 15px;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-appearance: none;
}

.small-btn {
    border-radius: 10px;
    display: inline-block;
    background: #2C4251;
    border: 0;
    line-height: 15%;
    padding: 1%;
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.small-btn:hover {
    cursor: pointer;
    font-weight: 900;
}

.btn:hover {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 900;
    line-height: 2.5em;
    padding: 15px;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
}

#join-session,
.back {
    background: #D16666;
}

#can {
    position: absolute;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    border: 2px solid;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: white;
}

#color-picker {
    position: absolute;
    top: 30px;
    right: 50px;
    text-align: right;
}

.jscolor {
    text-align: center;
}

#stroke-desc {
    position: absolute;
    top: 55px;
    right: 250px;
}

#stroke {
    position: absolute;
    top: 75px;
    right: 55px;
    width: 165px;
}

#opacity-desc {
    position: absolute;
    top: 85px;
    right: 250px;
}

#opacity {
    position: absolute;
    top: 105px;
    right: 55px;
    width: 165px;
}

#login-form,
#short-login-form,
#join-form {
    display: none;
}

input {
    font-family: 'Lato';
    -webkit-appearance: none;
    -moz-appearance: none;
}

#file-getter {
    font-size: 22px;
    color: transparent;
    width: 8%;
    position: absolute;
    right: 5%;
    bottom: 9.5%;
}

#undo {
    font-size: 18px;
    width: 12%;
    position: absolute;
    right: 16%;
    bottom: 3%;
}

#clr {
    font-size: 18px;
    width: 12%;
    position: absolute;
    right: 29%;
    bottom: 3%;
}

#clr-img {
    font-size: 18px;
    width: 12%;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

#client-password {
    text-align: right;
    position: absolute;
    right: 15%;
    bottom: 8.5%;
}

#curr-image {
    height: 85%;
    width: 45%;
    position: absolute;
    top: 2%;
    left: 2%;
}

#logo {
    height: 5%;
    position: absolute;
    bottom: 3%;
    left: 3%;
    z-index: 100;
}

#footer {
    background: #2C4251;
    position: absolute;
    bottom: -5%;
    left: 0%;
    height: 15%;
    width: 100%;
    z-index: -50;
}