body {
    font-family: 'Lato';
    background-color: #4BC6FF;
    color: #042A2B;
}

h1 {
    font-size: 86px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 10px;
    width: 35%;
    background-color: #FFFAF7;
}

.center {
    text-align: center;
}

.thin {
    font-weight: 300;
}

.small {
    font-size: 36px;
}

#login,
#password,
#session,
#session-password {
    background: none;
    font-family: 'Lato';
    font-size: 16px;
    border: none;
    border-left: 5px solid #042A2B;
    padding-left: 5px;
    margin: 10px;
}

input:focus {
    outline: 0;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    background: #2C4251;
    border: 0;
    line-height: 2.5em;
    padding: 15px;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 900;
    line-height: 2.5em;
    padding: 15px;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
}

#join-session,
.back {
    background: #D16666;
}

#can {
    position: absolute;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    border: 2px solid;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: white;
}

#stroke-desc {
    position: absolute;
    top: 85px;
    right: 250px;
}

#stroke {
    position: absolute;
    top: 105px;
    right: 55px;
    width: 165px;
}

#opacity-desc {
    position: absolute;
    top: 115px;
    right: 250px;
}

#opacity {
    position: absolute;
    top: 135px;
    right: 55px;
    width: 165px;
}

#login-form,
#short-login-form,
#join-form {
    display: none;
}

input {
    font-family: 'Lato';
}

#file-getter {
    font-size: 18px;
    width: 165px;
    position: absolute;
    right: 55px;
    bottom: 60px;
}

#clr {
    font-size: 18px;
    width: 165px;
    position: absolute;
    right: 55px;
    bottom: 90px;
}

#clr-img {
    font-size: 18px;
    width: 165px;
    position: absolute;
    right: 55px;
    bottom: 30px;
}

#client-password {
    text-align: right;
    position: absolute;
    right: 55px;
    bottom: 110px;
}

#end-session {
    font-size: 18px;
    width: 165px;
    position: absolute;
    left: 55px;
    bottom: 30px;
}